<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  <script src="https://kit.fontawesome.com/53ee3a3226.js" crossorigin="anonymous"></script>
</head>
<body class="{{ template }}">

<header>
    <div style="height:50px; text-align:center;">
      <img src="{{'logo.jpg' | asset_url}}" style="height:50px;"/>
    </div>
    
    <div class="icon-bar">
      <span style="display:none;">{% increment icon-num %}</span>
    {% for link in linklists.main-menu.links %} 
        <div class="icon" id="icon-{% increment icon-num %}">
          {% if template.name == 'index' %}
          <span><span class="text">{{ link.title }}</span></span>
          {% else %}
          <a href="index.html?page={{ icon-num - 1 }}"><span><span class="text">{{ link.title }}</span></span></a>
          {% endif %}
        </div>
    {% endfor %}
    </div>
      
    
  </header>

  <main role="main">
    <div class="viewport">
      <div class="content-container">
        
        {{ content_for_layout }}

      </div>
    </div>
  </main>

{% if template.name != 'cart' %}
  <div class="cart-btn"><a href='/cart'><i class="fas fa-shopping-cart"></i></a></div>
{% endif %}

  <!-- <footer>
    <a href="/cart">cart</a>
  </footer> -->

  {{ 'application.js' | asset_url | script_tag }}
</body>

</html>
