<div class='content'>
  {% if cart.item_count > 0 %}
    <div class="products">
      <h1 class="page-title">Cart</h1>
      {% for item in cart.items %}
        <form action="/cart" method="post" novalidate>
          <div class="product">
        
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
            <h1>{{ item.product.title }}</h1>
            <h2>{{ item.variant.title }}</h2>
            <p>{{ item.price | money }}</p>
            <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            <p>Total:{% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}</p>
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn">remove</a>
          </div>
        </form>
      {% endfor %}
    </div>  

    
  {% else %}
    <h2>cart</h2>
    Cart is empty
  {% endif %}
</div>


<footer>

  <div class="total">
    <div class="right">
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>  
  </div> 
</footer>
