
	<div class="content" id="page-1">
		<div class="products">
			{% for product in collections.frontpage.products %}
			  <div class="product">
			    
			    {% for image in product.images %}
				<img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
				{% endfor %}
				<h1>{{ product.title }}</h1>
				<div class="descript">{{ product.description }}</div>
				<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
				  <select name="id" id="productSelect">
				    {% for variant in product.variants %}
				      {% if variant.available %}
				        <option value="{{ variant.id }}">
				          {{ variant.title }} - {{ variant.price | money_with_currency }}
				        </option>
				      {% else %}
				        <option disabled="disabled">
				          {{ variant.title }} - sold out
				        </option>
				      {% endif %}
				    {% endfor %}
				  </select>
				  {{ current_variant.price | money }}
				  <label for="Quantity">quantity
				  	<input type="number" id="Quantity" name="quantity" value="1" min="1">
				  </label>
				  <button type="submit" name="add" id="AddToCart">Add +</button>
				</form>
			  </div>
			{% endfor %}
		</div>	
	</div>
	<div class="content" id="page-2">
		<div class="products">
			{% for product in collections.menswear.products %}
			  <div class="product">
			    
			    {% for image in product.images %}
				<img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
				{% endfor %}
				<h1>{{ product.title }}</h1>
				<div class="descript">{{ product.description }}</div>
				<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
				  <select name="id" id="productSelect">
				    {% for variant in product.variants %}
				      {% if variant.available %}
				        <option value="{{ variant.id }}">
				          {{ variant.title }} - {{ variant.price | money_with_currency }}
				        </option>
				      {% else %}
				        <option disabled="disabled">
				          {{ variant.title }} - sold out
				        </option>
				      {% endif %}
				    {% endfor %}
				  </select>
				  {{ current_variant.price | money }}
				  <label for="Quantity">quantity
				  	<input type="number" id="Quantity" name="quantity" value="1" min="1">
				  </label>
				  <button type="submit" name="add" id="AddToCart">Add +</button>
				</form>
			  </div>
			{% endfor %}
		</div>	
	</div>
	<div class="content" id="page-3">
		<div class="products">
			{% for product in collections.womenswear.products %}
			  <div class="product">
			    
			    {% for image in product.images %}
				<img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
				{% endfor %}
				<h1>{{ product.title }}</h1>
				<div class="descript">{{ product.description }}</div>
				<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
				  <select name="id" id="productSelect">
				    {% for variant in product.variants %}
				      {% if variant.available %}
				        <option value="{{ variant.id }}">
				          {{ variant.title }} - {{ variant.price | money_with_currency }}
				        </option>
				      {% else %}
				        <option disabled="disabled">
				          {{ variant.title }} - sold out
				        </option>
				      {% endif %}
				    {% endfor %}
				  </select>
				  {{ current_variant.price | money }}
				  <label for="Quantity">quantity
				  	<input type="number" id="Quantity" name="quantity" value="1" min="1">
				  </label>
				  <button type="submit" name="add" id="AddToCart">Add +</button>
				</form>
			  </div>
			{% endfor %}
		</div>	
	</div>
	<div class="content" id="page-4">
		<div class="products">
			{% for product in collections.accessories.products %}
			  <div class="product">
			    
			    {% for image in product.images %}
				<img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
				{% endfor %}
				<h1>{{ product.title }}</h1>
				<div class="descript">{{ product.description }}</div>
				<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
				  <select name="id" id="productSelect">
				    {% for variant in product.variants %}
				      {% if variant.available %}
				        <option value="{{ variant.id }}">
				          {{ variant.title }} - {{ variant.price | money_with_currency }}
				        </option>
				      {% else %}
				        <option disabled="disabled">
				          {{ variant.title }} - sold out
				        </option>
				      {% endif %}
				    {% endfor %}
				  </select>
				  {{ current_variant.price | money }}
				  <label for="Quantity">quantity
				  	<input type="number" id="Quantity" name="quantity" value="1" min="1">
				  </label>
				  <button type="submit" name="add" id="AddToCart">Add +</button>
				</form>
			  </div>
			{% endfor %}
		</div>	
	</div>
	<div class="content" id="page-5">
		<div class="products">
			{% for product in collections.all.products %}
			  <div class="product">
			    
			    {% for image in product.images %}
				<img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
				{% endfor %}
				<h1>{{ product.title }}</h1>
				<div class="descript">{{ product.description }}</div>
				<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
				  <select name="id" id="productSelect">
				    {% for variant in product.variants %}
				      {% if variant.available %}
				        <option value="{{ variant.id }}">
				          {{ variant.title }} - {{ variant.price | money_with_currency }}
				        </option>
				      {% else %}
				        <option disabled="disabled">
				          {{ variant.title }} - sold out
				        </option>
				      {% endif %}
				    {% endfor %}
				  </select>
				  {{ current_variant.price | money }}
				  <label for="Quantity">quantity
				  	<input type="number" id="Quantity" name="quantity" value="1" min="1">
				  </label>
				  <button type="submit" name="add" id="AddToCart">Add +</button>
				</form>
			  </div>
			{% endfor %}
		</div>	
	</div>

	<div class="selector" style="left:0px;">